%p
  = @offering
%table
  %tr
    %th
      Time
    %th
      Restaurant
  - @shifts.each do |shift|
    %tr
      %td
        = shift.table_time
      %td
        = shift.restaurant.name
%p
  = @confirmation_request

= render 'mailer/signature'
= render 'briefs'
= render 'reminders'



