%p
  A new rider, #{@rider.name}, was just added to the database. To view their profile page visit 
  =link_to 'this link.', ENV["ROOT"] + "riders/#{@rider.id}"
%p
  %strong
    Rider Details:

= render @rider.contact
= render @rider.location
= render @rider.rider_rating 
= render @rider.qualification_set 
= render @rider.skill_set 
= render @rider.equipment_set
