.row
  .span10.offset2
    = form_tag '/grid/'<<params[:action], method: :get do
      /Start
      .span.datepicker
        = label_tag :start, 'Start'
        = select_date @filter[:start], prefix: 'filter[start]', date_step: 7
      .span
        %div{ style: "margin-top: .3em;" }
          %strong
            End:
          = @filter[:end].strftime("%B %e, %Y")
          = hidden_field_tag :end, value: @filter[:end]
      /Submit
      .span
        = submit_tag 'Filter', class: 'btn btn-primary'    
