.row   
  /Pass default start from controller to JS
  

  .span10.offset2
    = form_tag '/grid/'<<params[:action], :class => 'filter', method: :get do
      /Start
      = render '/shared/datepicker', name: 'filter[start]', start_i: @week.start.to_i, start_str: @week.start.strftime("%B %e, %Y")

      / %div{ id: "date", data: { start: @week.start.to_i } }
      / .span.datepicker
      /   = label_tag :start, 'Start:'
      /   .input-append.date.form_datetime
      /     %input{ size: "18", type: "text", name: 'filter[start]', value: @week.start.strftime("%B %e, %Y"), readonly: true }
      /     %span{ class: "add-on" }
      /       %i.icon-th        
      / = select_date @filter[:start], prefix: 'filter[start]', date_step: 7
      .span
        %div{ style: "margin-top: .3em;" }
          %strong
            End:
          = @filter[:end].strftime("%B %e, %Y")
          = hidden_field_tag :end, value: @filter[:end]
      /Submit
      .span
        = submit_tag 'Filter', class: 'btn btn-primary'

