.grid
  /Filters
  .filters
    = render 'grid/filter_form.html.haml'
  /Grid
  %table
    /Header Row
    %tr 
      - @grid.headers.each_with_index do |header, i|
        %th{ id: "#{header[:id_str]}", class: "#{header[:class_str]}" }
          - if params[:action] == 'availability'
            = grid_sortable i, header[:value]
          - else
            = header[:value]
    /Data Rows
    - @grid.rows.each_with_index do |row, i|
      %tr{ id: "row_#{i+1}" }
        - row.each do |cell|
          %td{ id: "#{cell[:id_str]}", class: "#{cell[:class_str]}" }
            = cell[:values].join(', ')