- provide(:title, 'Shift Grid')

%h1 Shift Grid
.grid
  /Filters
  .filters
    = render 'grid/filter_form.html.haml'
  /Grid
  %table
    /Header Row
    %tr{ id: "row_0" }
      /Rest Col
      %th{ id: "row_0_col_1" } 
        Restaurant
      /Shift Cols
      - 14.times do |n|
        - col_num = n+2
        %th{ id: "row_0_col_#{col_num}", class: "day_per_#{Week::SELECTORS[n]}" }
          = Week::HEADERS[n]
    
    /Data Rows
    - @restaurants.each_with_index do |restaurant, i|
      - row_num = i + 1
      - rest_class = header_to_selector(restaurant.name)
      /Data Row
      %tr{ id: "row_#{row_num}", class: "rest_#{rest_class}" }
        /Rest Col
        %td{ id: "row_#{row_num}_col_1", class: "rest_#{rest_class} y_axis_label" }
          = restaurant.name
        /Data Cols
        - 14.times do |n|
          - col_num = n + 2
          - day_period = Week::SELECTORS[n]
          /Data Col
          %td{ style: "padding: 0px;", id: "row_#{row_num}_col_#{col_num}", class: "rest_#{rest_class} day_per_#{day_period}" }
            / Hello!
            / - raise @week.record_hash.inspect
            - shifts = @week.records_for day_period, restaurant: restaurant
            - unless shifts.empty? 
              - shifts.each do |shift|
                - rider_name = !shift.assigned? ? '--' : shift.assignment.rider.short_name
                - color = @week.bg_color_for shift.assignment.status
                / %div
                /   .time_cell
                /     = shift.grid_time 
                %div{ :class => "record_cell #{color}" }
                  = rider_name.to_s << ' ' << shift.assignment.status.short_code
                  
                  

    
