%h3 Equipment
%ul  
  %li
    %strong Bike: 
    = @equipment.bike? ? 'Yes' : 'No'
  %li
    %strong Lock: 
    = @equipment.lock? ? 'Yes' : 'No'
  %li
    %strong Helmet:
    = @equipment.helmet? ? 'Yes' : 'No'
  %li
    %strong Rack: 
    = @equipment.bike? ? 'Yes' : 'No'
  %li
    %strong Bag: 
    = @equipment.bag? ? 'Yes' : 'No'
  %li
    %strong Heated Bag: 
    = @equipment.heated_bag? ? 'Yes' : 'No'
  %li
    %strong Car:
    = @equipment.car? ? 'Yes' : 'No'
