%h3 Equipment
%ul  
  %li
    %strong Bike: 
    = equipment_set.bike? ? 'Yes' : 'No'
  %li
    %strong Lock: 
    = equipment_set.lock? ? 'Yes' : 'No'
  %li
    %strong Helmet:
    = equipment_set.helmet? ? 'Yes' : 'No'
  %li
    %strong Rack: 
    = equipment_set.bike? ? 'Yes' : 'No'
  %li
    %strong Bag: 
    = equipment_set.bag? ? 'Yes' : 'No'
  %li
    %strong Heated Bag: 
    = equipment_set.heated_bag? ? 'Yes' : 'No'
  %li
    %strong Cell Phone:
    = equipment_set.cell_phone? ? 'Yes' : 'No'
  %li
    %strong Smart Phone:
    = equipment_set.smart_phone? ? 'Yes' : 'No'
  %li
    %strong Car:
    = equipment_set.car? ? 'Yes' : 'No'
