%h3 Equipment
= f.fields_for :equipment_set do |ff|
  .checkbox
    = ff.check_box :bike
    = ff.label :bike
  .checkbox
    = ff.check_box :lock
    = ff.label :lock
  .checkbox
    = ff.check_box :helmet
    = ff.label :helmet
  .checkbox
    = ff.check_box :rack
    = ff.label :rack
  .checkbox
    = ff.check_box :bag
    = ff.label :bag
  .checkbox
    = ff.check_box :heated_bag
    = ff.label :heated_bag, 'Insulated bag'
  .checkbox
    = ff.check_box :cell_phone
    = ff.label :cell_phone, 'Cell phone'
  .checkbox
    = ff.check_box :smart_phone
    = ff.label :smart_phone, 'Smart phone'    
  .checkbox
    = ff.check_box :car
    = ff.label :car
