- #args: assignment, index
- name = lambda { |attr| "wrapped_assignments[fresh][][assignment][#{attr}]" }
- error_class = @errors.find{ |e| e[:record].shift_id == assignment.shift_id } ? 'field_with_errors' : ''

/Shift Box
%p.shift_box
  = render 'assignments/shift_include', shift: assignment.shift

/Index
= hidden_field_tag "wrapped_assignments[fresh][][index]", index

/Assignment
.row
  /Shift
  = hidden_field_tag name.call('shift_id'), assignment.shift_id
  %div{ class: error_class }
    /Rider
    .span4
      .center
        = label_tag :rider
      - unless @caller == :rider
        = select_tag name.call('rider_id'), options_for_select(Rider.select_options, assignment.rider.nil? ? nil : assignment.rider.id ), include_blank: true
      - else 
        = assignment.rider.name
    /Status
    .span4
      .center
        = label_tag :status
      = select_tag name.call('status'), options_for_select(AssignmentStatus.select_options, assignment.status)
    /Notes
    .span8
      .center
        = label_tag :notes
      = text_area_tag name.call('notes'), assignment.notes
