- #args: assignment_key, shift
- assignment_key ||= nil
- key = assignment_key.nil? ? "[]" : "[#{assignment_key}][]"
- name = lambda { |attr| "assignments#{key}[#{attr}]" }

%p.shift_box
  = render 'assignments/shift_include', shift: assignment.shift

.row
  /Id
  = hidden_field_tag name.call('id'), assignment.id
  /Shift
  = hidden_field_tag name.call('shift_id'), assignment.shift_id
  /Rider
  .span4
    .center
      = label_tag :rider
    - unless @caller == :rider
      = select_tag name.call('rider_id'), options_for_select(Rider.select_options, assignment.rider.nil? ? nil : assignment.rider.id ), include_blank: true
    - else 
      = assignment.rider.name
  /Status
  .span4
    .center
      = label_tag :status
    = select_tag name.call('status'), options_for_select(AssignmentStatus.select_options, assignment.status)
  / Base Path
  / = hidden_field_tag :base_path, @base_path
