- unless @caller == :rider
  = f.label :rider
  = f.select :rider_id, Rider.select_options, include_blank: true
= f.label :status
= f.select :status, AssignmentStatus.select_options
= f.hidden_field :shift_id, value: shift.id
/ Hidden Fields 
= f.hidden_field :base_path, value: @base_path
