- case @override_subject
- when :conflict
  - override_field = lambda { |f| f.hidden_field :override_conflict, value: true }
- when :double_booking
  - override_field = lambda { |f| f.hidden_field :override_double_booking, value: true }

= form_for @form_args do |f|
  %p.center
    = override_field.call(f)
    = f.hidden_field :rider_id, value: @assignment.rider_id
    = f.hidden_field :shift_id, value: @assignment.shift_id
    = f.hidden_field :status, value: @assignment.status
    = f.hidden_field :base_path, value: @base_path
    = f.submit "Assign Shift", class: 'btn btn-primary'
    = link_to "Cancel", @base_path, class: 'btn btn-primary'