- provide(:title, 'Uniform Assign Shifts')

%h1 Uniform Assign Shifts
.span8.offset2.profile
  = form_tag '/assignment/batch_edit_uniform', method: :post do
    /Send Email Check Box
    = render 'send_email_check_box', selected: true
    /Shifts
    #shifts
      %h3 Shifts
      - @shifts.each_with_index do |shift, i|
        %div{ id: "shifts_#{i}" }
          %p.shift_box
            = render 'assignments/shift_include', shift: shift
          %p.shift_box
            = render 'assignment_include', assignment: shift.assignment        
          = hidden_field_tag "shift_ids[]", shift.id
          = hidden_field_tag "ids[]", shift.assignment.id
          = hidden_field_tag :base_path, @base_path
          %hr/
    /Assignment Form
    #assignment_form
      %h3 Assign All Shifts To
      .row
        /Rider
        .span4
          .center
            = label_tag :rider
            = select_tag 'assignment[rider_id]', options_for_select(Rider.select_options, nil ), include_blank: true
        /Status
        .span4
          .center
            = label_tag :status
          = select_tag 'assignment[status]', options_for_select(AssignmentStatus.select_options, :proposed)
        /Hidden Fields
        = render 'shared/base_path_field'
        = render 'shared/filter_json_fields'
      %p.center
        = submit_tag 'Save changes', class: 'btn btn-primary'