- provide(:title, 'Batch Assign Shifts')

%h1 Batch Assign Shifts
.span8.offset2.profile
  = form_tag '/assignment/batch_edit', method: :post do
    = render 'shared/batch_error_messages', errors: @errors
    /Fresh
    - assignments = @assignments.fresh.map(&:assignment)
    - assignments.each_with_index do |assignment, i|
      %div{ id: "assignments_fresh_#{i}" }
        = render 'batch_fields', assignment: assignment, assignments_key: 'fresh'
      %hr/
    /Old
    = render 'old_assignment_hidden_fields'
    /Base Path
    = render 'shared/base_path_field'
    %p.center
      = submit_tag 'Save changes', class: 'btn btn-primary'

/ - header = 'Batch Assign Shifts'
/ - action = '/assignment/batch_edit'

/ = render 'batch_edit_form', header: header, action: action