- provide(:title, 'Batch Assign Shifts')

%h1 Batch Assign Shifts
.span8.offset2.profile
  = form_tag '/assignment/batch_edit', method: :post do
    = render 'shared/batch_error_messages', errors: @errors
    - @assignments.each_with_index do |assignment, i|
      %div{ id: "assignment_#{assignment.id}_wrapper" }
        = render '/assignments/batch_fields', assignment: assignment
      %hr/
    = render 'shared/base_path_field'
    = hidden_field_tag :old_assignments_json, @old_assignments if @old_assignments
    %p.center
      = submit_tag 'Save changes', class: 'btn btn-primary'

/ - header = 'Batch Assign Shifts'
/ - action = '/assignment/batch_edit'

/ = render 'batch_edit_form', header: header, action: action