- # arg: @assignments (Assignments Obj)
- provide(title: "Batch Reassign Shifts")

.row
  .span8.offset2.profile
    = form_tag '/assignment/batch_reassign', method: :post do
      %h3 Shifts Requiring Reassignment
      - @assignments.requiring_reassignment.each_with_index do |ass, i|
        = render 'batch_fields', assignment: ass, assignment_key: 'fresh'
        %hr/
      %h3 Shifts With No Obstacles
      - @assignments.without_obstacles.each_with_index do |ass, i|
        = render 'batch_fields', assignment: ass, assignment_key: 'fresh'
        %hr/
      = render 'shared/base_path_field'
      %p.center
        = submit_tag 'Save changes', class: 'btn btn-primary'