- provide(:title, 'Batch Assign Shifts')

%h1 Batch Assign Shifts
.span8.offset2.profile
  = form_tag '/assignment/batch_edit', method: :post do
    = render 'send_email_check_box'
    = render 'shared/batch_error_messages', errors: @errors
    /Fresh
    - @assignments.fresh.each_with_index do |wrapped_assignment, i|
      %div{ id: "assignments_fresh_#{i}" }
        = render 'batch_fields', assignment: wrapped_assignment.assignment, index: wrapped_assignment.index
      %hr/
    /Old
    = render 'old_assignment_hidden_fields'
    /Base Path
    = render 'shared/base_path_field'
    = render 'shared/filter_json_fields'
    %p.center
      = submit_tag 'Save changes', class: 'btn btn-primary'