- provide(:title, 'Assign Shift')
%h1 Assign Shift
.row
  .span6.offset3
    %p
      Shift: 
      = render 'assignments/shift_include', shift: @shift
    = form_for @form_args do |f|
      = render 'shared/error_messages', object: f.object
      = render 'assignments/fields', f: f, caller: @caller, shift: @shift
      .center
        = f.submit "Assign shift", class: "btn btn-primary"
