.row
  .span6.offset2
    = gravatar_for @it.contact, size: 80
    %section
      %h1.name= @it.name
      %h2.title 
        - if it.class == Rider
          = it.location.borough.text
          |
          = it.active? ? 'Active' : 'Inactive'
        - else 
          = it.title
        |
        = it.phone
  .span2
    .edit
      - case it.class
      - when Staffer
        - edit_path = edit_staffer_path(it)
      - when Rider
        - edit_path = edit_rider_path(it)
      - when Manager
        - edit_path = edith_manager_path(it)
      = link_to 'Edit Profile', edit_path, class: 'btn btn-primary'