.row
  .span6.offset2
    = gravatar_for @it.contact, size: 80
    %section
      %h1.name= @it.name
      %h2.title 
        - if it.class == Rider
          = it.location.borough.text
          |
          = it.active? ? 'Active' : 'Inactive'
        - else 
          = it.title
        |
        = it.phone
  .span2
    .edit
      - case it.class.name
      - when 'Staffer'
        - edit_profile = edit_staffer_path(it)
      - when 'Rider'
        - edit_profile = edit_rider_path(it)
      - when 'Manager'
        - edit_profile = edit_restaurant_path(it.restaurant)
      = link_to 'Edit Profile', edit_profile, class: 'btn btn-primary'