.row
  .span6.offset2
    = gravatar_for @contact, size: 80
    %section
      %h1.name= @contact.name
      %h2.title 
        - if params[:controller] == 'riders'
          = @location.borough.text
          |
          = @rider.active? ? 'Active' : 'Inactive'
        - else 
          = @contact.title
        |
        = @contact.phone
  .span2
    .edit
      = link_to 'Edit Profile', edit_rider_path, class: 'btn btn-primary'