- if object.class == Restaurant
  %h3 Managers
  = f.fields_for :managers do |ff|
    = render 'accounts/fields', f: ff
  - if params[:action] == 'edit'
    .center
      = link_to 'Create new manager', new_restaurant_manager_path(@restaurant.id)
  %br/
- elsif object.class == Manager
  - if @restaurant
    %h2 Restaurant: #{@restaurant.mini_contact.name}
    = render 'accounts/fields', f: f