- if object.class == Restaurant
  %h3 Managers
  = f.fields_for :managers do |ff|
    = ff.fields_for :account do |fff|
      = fff.fields_for :contact do |ffff|
        = ffff.label :name
        = ffff.text_field :name
        = ffff.label :title
        = ffff.text_field :title        
        = ffff.label :phone
        = ffff.text_field :phone
        = ffff.label :email
        = ffff.text_field :email
        .checkbox
          = ffff.check_box :_destroy
          = ffff.label :_destroy, 'Delete?'
  %br/
/ - elsif object.class == Manager
/   = form.label :restaurant
/   - if params[:restaurant_id]
/     = form.collection_select :restaurant_id, Restaurant.all, :id, :name, selected: params[:restaurant_id]
/   - else
/     = form.collection_select :restaurant_id, Restaurant.all, :id, :name
/   = form.fields_for :contact_info do |ff|
/     = ff.label :name
/     = ff.text_field :name
/     = ff.label :title
/     = ff.text_field :title        
/     = ff.label :phone
/     = ff.text_field :phone
/     = ff.label :email
/     = ff.text_field :email

