- if manager == managers.first
  %h3 Managers
%ul
  %li
    %strong Name:
    = manager.contact.name
  %li
    %strong Title:
    = manager.contact.title  
  %li
    %strong Phone:
    = manager.contact.phone
  %li
    %strong Email:
    = manager.contact.email
  = link_to 'Edit', edit_manager_path(manager.id), id: "edit_manager_#{manager.id}"
  |
  = link_to 'Delete', manager_path(manager.id), id: "delete_manager_#{manager.id}", method: :delete, data: { confirm: "Are you sure? All information associated with #{manager.contact.name} will be permanently destroyed!" }