- provide(:title, @manager.contact.name)
.profile
  = render 'users/profile_header', it: @it
  .row
    .span10.offset1
      %h3 Contact Info
      %ul
        %li 
          %strong 
            Phone: 
          = @manager.contact.phone
        %li 
          %strong
            Email: 
          = @manager.contact.email
  .row
    %p.center
      - if can? :manage, Manager
        = link_to 'Edit', edit_restaurant_manager_path(@manager.restaurant, @manager)
        | 
        = link_to "Delete", @manager, method: :delete, data: { confirm: "Are you sure? All information associated with #{@manager.name} will be permanently destroyed!" }    

