.row
  .span10.offset2
    = form_tag 'shift_grid', method: :get do
      /Start
      .span.datepicker
        = label_tag :start, 'Start'
        = select_date @filter[:start], prefix: 'filter[start]', date_step: 7
      /End
      / .span.datepicker
      /   = label_tag :end, 'End'
      /   = select_date @filter[:end], prefix: 'filter[end]'
      .span
        %div{ style: "margin-top: .3em;" }
          %strong
            End:
          = @filter[:end].strftime("%B %e, %Y")
          = hidden_field_tag :end, value: @filter[:end]
      /Submit
      .span
        = submit_tag 'Filter', class: 'btn btn-primary'    
