- provide(:title, 'Shift Grid')

%h1 Shift Grid
.grid
  /Filters
  .filters
    = render 'schedule/filter_form.html.haml'
  /Grid
  %table
    /Header Row
    %tr.header
      /Rest Col
      %th#restaurant Restaurant
      /Shift Cols
      - 14.times do |n|
        %th{ id: Week::SELECTORS[n] }
          = Week::HEADERS[n]
    
    /Data Rows
    - @restaurants.each_with_index do |restaurant, i|
      - row_num = i + 1
      - rest_class = header_to_selector(restaurant.name)
      /Data Row
      %tr{ id: "#{rest_class}_row" }
        /Rest Col
        %td{ class: "row#{row_num} col1 rest_{rest_class} per_nil" }
          = restaurant.name
        /Data Cols
        - 14.times do |n|
          - col_num = n + 1
          - day_period = Week::SELECTORS[n]
          /Data Col
          %td{ style: "padding: 0px;", class: "row#{row_num} col#{col_num} rest_#{rest_class} day_per_#{day_period}" }
            / Hello!
            / - raise @week.record_hash.inspect
            - shifts = @week.records_for day_period, restaurant: restaurant
            - unless shifts.empty? 
              - shifts.each do |shift|
                - rider_name = !shift.assigned? ? '--' : shift.assignment.rider.short_name
                - color = @week.bg_color_for shift.assignment.status
                %div
                  .time_cell
                    = shift.grid_time 
                  %div{ :class => "record_cell #{color}" }
                    = rider_name.to_s << ' ' << shift.assignment.status.short_code
                  
                  

    
