- if object.class == Staffer 
  = form.fields_for :contact_info do |ff|
    = ff.label :name
    = ff.text_field :name
    = ff.label :title
    = ff.text_field :title        
    = ff.label :email
    = ff.text_field :email
    = ff.label :phone
    = ff.text_field :phone
- elsif object.class == Restaurant
  = form.fields_for :contact_info do |ff|
    = ff.label :name
    = ff.text_field :name
    = ff.label :phone
    = ff.text_field :phone
    = ff.label :street_address
    = ff.text_field :street_address
    = ff.label :borough
    = ff.select :borough, @boroughs.values, include_blank: true
    = ff.label :neighborhood
    = ff.select :neighborhood, @neighborhoods.values, include_blank: true


