%h3 Working Conditions
%ul
  %li
    %strong Brief:
    #{restaurant.mini_contact.name} #{restaurant.brief}
  %li
    %strong Zone:
    = work_specification.zone
  %li
    %strong AM Volume:
    = work_specification.daytime_volume
  %li
    %strong PM Volume:
    = work_specification.evening_volume
  %li
    %strong Extra Work?
    = work_specification.extra_work? ? 'Yes' : 'No'
  %li
    %strong Extra work Description:
    = work_specification.extra_work_description