.dropdown
  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
    Action
    %b.caret
  %ul.dropdown-menu
    %li= link_to "Edit Assignment", edit_rider_shift_assignment_path(shift.assignment.rider, shift, shift.assignment)    
    %li= link_to 'Assignment Details', rider_shift_assignment_path(shift.assignment.rider, shift, shift.assignment)
    %li= link_to "Edit Shift", edit_rider_shift_path(shift.assignment.rider, shift)
    %li= link_to "Shift Details", rider_shift_path(shift.assignment.rider, shift)
    %li= link_to 'Delete', shift, method: :delete, data: { confirm: 'Are you sure?' }