.dropdown
  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
    Action
    %b.caret
  %ul.dropdown-menu
    - if shift.assigned?
      %li= link_to "Edit Assignment", edit_assignment_path(shift.assignment)
      %li= link_to 'Assignment Details', assignment_path(shift.assignment)
    - else
      %li= link_to 'Assign Shift', new_shift_assignment_path(shift)
    %li= link_to "Edit Shift", edit_shift_path(shift)
    %li= link_to "Shift Details", shift_path(shift)
    %li= link_to 'Delete', shift, method: :delete, data: { confirm: 'Are you sure?' }