.dropdown
  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
    Action
    %b.caret
  %ul.dropdown-menu
    - if shift.assigned?
      %li= link_to "Edit Assignment", edit_restaurant_shift_assignment_path(shift.restaurant, shift, shift.assignment)    
      %li= link_to 'Assignment Details', restaurant_shift_assignment_path(shift.restaurant, shift, shift.assignment)
    - else
      %li= link_to 'Assign Shift', new_restaurant_shift_assignment_path(shift.restaurant, shift)
    %li= link_to "Edit Shift", edit_restaurant_shift_path(shift.restaurant, shift)
    %li= link_to "Shift Details", restaurant_shift_path(shift.restaurant, shift)
    %li= link_to 'Delete', shift, method: :delete, data: { confirm: 'Are you sure?' }