.row.header
  Filters
= form_tag shifts_path, method: :get do
  .row
    .span2
      = label_tag 'start', 'Start'
      = select_date @filters[:start], prefix: 'filters[start]' #'filter_start'
    .span2
      = label_tag 'end', 'End'
      = select_date @filters[:end], prefix: 'filters[end]'# 'filter_end'
    .span2
      = label_tag 'rider', 'Rider'
      = select_tag "filters[riders]", options_from_collection_for_select(Rider.includes(:contact).order('contacts.name asc'), :id, :name, selected: @filters[:riders] ), multiple: true
  .row.center
    = submit_tag 'Filter', class: 'btn btn-primary'