.row
  
  - unless caller == :restaurant
    .span2  
      = link_to shift.restaurant.mini_contact.name, restaurant_path(shift.restaurant) #Rider
  .span3
    = shift.start.strftime("%m/%d | %I:%M%p - %I:%M%p") #Time

  - if shift.assigned?
    - unless caller == :rider
      .span2 
        = link_to shift.assignment.rider.contact.name, shift.assignment.rider #Assigned to
    .span2
      = shift.assignment.status.text #Status
  
  - else 
    - unless caller == :rider
      .span2
        = '--' #Assigned to 
    .span2
      = '--' #Status

  - if can? :manage, @shift
    .span1
      = render 'shifts/tables/dropdown', shift: shift, paths: paths #Action v