- #args: shift, rest_index, shift_index, has_errors
- prefix = "restaurant_shifts[][shifts][]"
- id_prefix = "restaurant_shifts__shifts__"
- has_errors = has_errors || false
- class_str = "clone_week_entry"
- class_str << " field_with_errors" if has_errors


%div{ id: "shift_#{shift_index}", :class => class_str }
  .row.fields
    /Start
    = render '/shared/datetimepicker', label: 'Start:', id: "#{id_prefix}start", :class_str => 'start', name: "#{prefix}[start]", start_i: shift.start.to_i, start_str: shift.formal_start_datetime
    /End
    = render '/shared/datetimepicker', label: 'End:', id: "#{id_prefix}end", :class_str => 'end', name: "#{prefix}[end]", start_i: shift.end.to_i, start_str: shift.formal_end_datetime
    /Remove
    %a{ id: "remove_restaurant_#{rest_index}_shift_#{shift_index}" }
      Remove
    /Restaurant ID
    = hidden_field_tag "#{prefix}[restaurant_id]", shift.restaurant.id

    