/ - raise @filter.to_yaml
.row.header
  Filters
.row
  = form_tag "#{index_path}", method: :get do   
    .row.select_wrapper
      /Start
      .span2
        = label_tag :start, 'Start'
        / = select_date @filter[:start], prefix: 'filter[start]'
        = select_datetime @filter[:start], prefix: 'filter[start]', ampm: true, minute_step: 30
      /End
      .span2
        = label_tag :end, 'End'
        / = select_date @filter[:end], prefix: 'filter[end]'
        = select_datetime @filter[:end], prefix: 'filter[end]', ampm: true, minute_step: 59
      /Restaurant
      - if @caller == :restaurant
        = hidden_field_tag :restaurant_id, "#{@restaurant.id}"
      - else
        = render 'filter_multiselect', key: :restaurants, klass: Restaurant 
      /Rider
      - if @caller == :rider
        = hidden_field_tag :rider_id, "#{@rider.id}"
      - else
        = render 'filter_multiselect', key: :riders, klass: Rider        
      /Status
      = render 'filter_multiselect', key: :status, klass: AssignmentStatus
    /Filter
    .row.center
      = submit_tag 'Filter', class: 'btn btn-primary'