- case caller
- when :restaurant
  .center
    = link_to "#{@restaurant.mini_contact.name}'s profile", @restaurant
    |
    = link_to 'All shifts', paths[:index]
    |
    = link_to 'Create shift', paths[:new_shift] 
- when :rider
  .center
    = link_to "#{@rider.contact.name}'s profile", @rider
    |
    = link_to 'All shifts', paths[:index]
- when nil
  .center
    = link_to 'Create shift', paths[:new_shift]