= render 'shared/error_messages', object: f.object
- if caller == :restaurant
  %p
    %strong
      Restaurant: 
    = @restaurant.mini_contact.name
  = f.hidden_field :restaurant_id, value: @restaurant.id
- else
  = f.label :restaurant
  = f.collection_select :restaurant_id, Restaurant.all, :id, :name, include_blank: true

.datepicker
  = f.label :start
  = f.datetime_select :start, ampm: true, minute_step: 30
.datepicker
  = f.label :end
  = f.datetime_select :end, ampm: true, minute_step: 30
= f.label :urgency

- if params[:action] == 'new' || params[:action] == 'create'
  = f.select :urgency, Urgency.select_options, selected: :extra
- else
  = f.select :urgency, Urgency.select_options
= f.label :billing_rate

- if params[:action] == 'new' || params[:action] == 'create'
  = f.select :billing_rate, BillingRate.select_options, selected: :normal
- else 
  = f.select :billing_rate, BillingRate.select_options

= f.label :notes
= f.text_area :notes

- if params[:action] == 'new '|| params[:action] == 'create'
  / = f.fields_for :assignment 
