= render 'shared/error_messages', object: f.object

.row
  /Restaurant
  .span4
    - if @caller == :restaurant
      %p
        %strong
          Restaurant: 
        = @restaurant.mini_contact.name
      = f.hidden_field :restaurant_id, value: @restaurant.id
    - else
      = f.label :restaurant
      = f.select :restaurant_id, Restaurant.select_options, include_blank: true 
  /Urgency
  .span2
    = f.label :urgency
    - if params[:action] == 'new' || params[:action] == 'create'
      = f.select :urgency, Urgency.select_options, selected: :extra
    - else
      = f.select :urgency, Urgency.select_options
  /Billing Rate
  .span2
    = f.label :billing_rate
    - if params[:action] == 'new' || params[:action] == 'create'
      = f.select :billing_rate, BillingRate.select_options, selected: :normal
    - else 
      = f.select :billing_rate, BillingRate.select_options


/Start
.datepicker
  = f.label :start
  = f.datetime_select :start, ampm: true, minute_step: 30
/End
.datepicker
  = f.label :end
  = f.datetime_select :end, ampm: true, minute_step: 30

/Notes
= f.label :notes
= f.text_area :notes
/Hiden Field
= f.hidden_field :base_path, value: @base_path
/Submit
- if params[:action] == 'new '|| params[:action] == 'create'
  / = f.fields_for :assignment 
