%h3 Shift Details
%ul
  %li
    %strong Restaurant:
    = link_to shift.restaurant.mini_contact.name, restaurant_path(@shift.restaurant)
  %li
    %strong Start:
    = shift.start.strftime("%m/%d | %I:%M%p")
  %li
    %strong End:
    = shift.end.strftime("%I:%M%p")
  %li
    %strong Urgency:
    = shift.urgency.text
  %li
    %strong Billing:
    = shift.billing_rate.text
  %li
    %strong Notes:
    = shift.notes
.center
  = link_to 'Edit', paths[:edit_shift].call(@shift)
  |
  = link_to 'Delete', paths[:shift].call(@shift), method: :delete, data: { confirm: 'Are you sure?' }
  |
  = link_to 'All Shifts', paths[:index]