%h3 Shifts
.center
  - shifts.first(5).each do |shift|
    .row 
      .span2
        = shift.start.strftime("%m/%d/%y | %I:%M%p")
      .span1
        = shift.end.strftime("%I:%M%p")
      .span1
        = shift.urgency
      .span1
        = shift.billing_rate
      .span2
        = link_to 'Edit', edit_shift_path(shift)
        |
        = link_to 'Delete', shift, method: :delete, data: { confirm: 'Are you sure?' }
%br/
.center
  = link_to 'See full list of shifts', restaurant_shifts_path(@restaurant.id)