- #args: shift, i, j
- prefix = "restaurant_shifts[][shifts][]"
- id_prefix = "restaurant_shifts__shifts__"


%div{ id: "shifts_#{j}" }
  .row
    /Start
    .span3
      = render '/shared/datetimepicker', label: 'Start:', id: "#{id_prefix}start", name: "#{prefix}[start]", start_i: shift.start.to_i, start_str: shift.formal_start_datetime
    /End
    .span3
      = render '/shared/datetimepicker', label: 'End:', id: "#{id_prefix}end", name: "#{prefix}[end]", start_i: shift.end.to_i, start_str: shift.formal_end_datetime
    /Remove
    .span1
      %a{ id: "remove_shift_#{j}", :class => "remove_shift btn btn-primary"}
        Remove
    /Restaurant ID
    = hidden_field_tag "#{prefix}[restaurant_id]", shift.restaurant.id

    