- provide(:title, 'Shifts')

- case @caller
- when :restaurant
  - header = "Shifts for #{@restaurant.mini_contact.name}"
  - wrapper_class = 'span8 offset2'
- when :rider
  - header = "Assignments for #{@rider.contact.name}"
  - wrapper_class = 'span8 offset2'
- when nil
  - header = "Shifts"
  - wrapper_class = "span10 offset1"

%h1= header
- if can? :manage, Shift
  = render 'shifts/index_and_new_links', caller: @caller, paths: @shift_paths

.row
  %div{ class: wrapper_class+' filters' }
    = render 'shifts/tables/filter_form', paths: @shift_paths
.center
  = will_paginate @shifts
.row
  %div{ :class => wrapper_class }
    = render 'shifts/tables/wrapper', shifts: @shifts, caller: @caller, paths: @shift_paths, teaser: false
.center
  = will_paginate @shifts
- if can? :manage, Shift
  %p.center
    = render 'shifts/index_and_new_links', caller: @caller, paths: @shift_paths
