- provide(:title, 'Shifts')

- case @caller

- when :restaurant
  %h1 Shifts for #{@restaurant.mini_contact.name}
  - if can? :create, Shift
    %p.center
      = link_to 'See all shifts', shifts_path
      |
      = render 'shifts/create_link', caller: @caller
  .row
    .span8.offset2
      = render 'shifts/tables/wrapper', shifts: @shifts, caller: :restaurant 
  - if can?(:manage, Shift)
    %p.center
      = link_to 'See all shifts', shifts_path
      |
      = link_to 'Create shift', new_restaurant_shift_path(@restaurant)

- when :rider
  %h1 Assignments for #{@rider.account.contact.name}
  .row
    .span8.offset2
      = render 'shifts/tables/wrapper', shifts: @shifts, caller: :rider
  - if can?(:manage, Shift)
    %p.center
      = link_to 'See all shifts', shifts_path 

- when nil
  %h1 Shifts
  .row
    .span10.offset1
      = render 'shifts/tables/wrapper', shifts: @shifts, caller: nil  
  - if can?(:manage, Shift)
    %p.center
      = link_to 'Create shift', new_shift_path