- provide(:title, 'Shifts')

- if @restaurant
  %h1 #{@restaurant.mini_contact.name} Shifts
- else
  %h1 Shifts
.center
  = link_to 'Create new shift', new_shift_path
  %br/
  %br/
.table
  = render 'row_header'
  - @shifts.each do |shift|
    = render 'row', shift: shift
  %br/
  .center
    - if params[:restaurant_id] # if index is of shifts for only 1 restaurant
      = link_to 'Create new shift', new_restaurant_shift_path(params[:restaurant_id]), class: 'btn btn-primary'
    - else   
      = link_to 'Create new shift', new_shift_path, class: 'btn btn-primary'