- provide(:title, 'Shifts')

/Arguments
- if @caller
  - header_suffix = " for #{@caller_obj.name}"
  / - span = "span8 offset2"
  - span = "span10 offset1"
- else
  - header_suffix = ""
  - span = 'span12'

/Header
%h1= "Shifts" + header_suffix
/Hot Links
- if can? :manage, Shift
  = render 'hot_links', entity: @caller_obj
/Filters
.row
  %div{ class: span+' filters' }
    = render 'filter_form'

/Batch Edit Form Wrapper
.row.batch_form
  = form_tag '/shift/batch_edit', method: :get, class: 'batch' do 
    /Submit Buttons
    .center
      = submit_tag 'Batch Edit', class: 'btn btn-primary'
      = submit_tag 'Batch Assign', class: 'btn btn-primary' 
      = submit_tag 'Uniform Assign', class: 'btn btn-primary'
      = hidden_field_tag :base_path, @base_path
    /Pagination
    .center
      = will_paginate @shifts
    /Table
    .row
      %div{ :class => span }
        = render 'layouts/table', table: @shift_table
    /Pagination
    .center
      = will_paginate @shifts
    /Submit Buttons
    .center
      = submit_tag 'Batch Edit', class: 'btn btn-primary'
      = submit_tag 'Batch Assign', class: 'btn btn-primary' 
    /Hot Links
    - if can? :manage, Shift
      %p.center
        = render 'hot_links', entity: @caller_obj
