- provide(:title, 'Shifts')

- case @caller

- when :restaurant
  %h1 Shifts for #{@restaurant.mini_contact.name}
  - if can? :manage, Shift
    = render 'shifts/index_and_new_links', caller: @caller
  .row
    .span8.offset2
      = render 'shifts/tables/wrapper', shifts: @shifts, caller: :restaurant 
  - if can?(:manage, Shift)
    %p.center
      = render 'shifts/index_and_new_links', caller: @caller

- when :rider
  %h1 Assignments for #{@rider.contact.name}
  - if can? :manage, Shift
    = render 'shifts/index_and_new_links', caller: @caller  
  .row
    .span8.offset2
      = render 'shifts/tables/wrapper', shifts: @shifts, caller: :rider
  - if can? :manage, Shift
    = render 'shifts/index_and_new_links', caller: @caller 

- when nil
  %h1 Shifts
  - if can? :manage, Shift
    = render 'shifts/index_and_new_links', caller: @caller 
  .row
    .span10.offset1
      = render 'shifts/tables/wrapper', shifts: @shifts, caller: @caller 
  - if can? :manage, Shift
    = render 'shifts/index_and_new_links', caller: @caller 