- provide(:title, 'Shifts')

/Args

- case @caller
- when :restaurant
  - header = "Shifts for #{@restaurant.mini_contact.name}"
  - span = 'span8 offset2'
  - entity = @restaurant
- when :rider
  - header = "Assignments for #{@rider.contact.name}"
  - span = 'span8 offset2'
  - entity = @rider
- when nil
  - header = "Shifts"
  - span = "span10 offset1"

/Header
%h1= header
/Hot Links
- if can? :manage, Shift
  = render 'hot_links', entity: entity
/Filters
.row
  %div{ class: span+' filters' }
    = render 'filter_form'
/Pagination
.center
  = will_paginate @shifts

/Table
.row
  %div{ :class => span }
    = render 'layouts/table', table: @shift_table

/Pagination
.center
  = will_paginate @shifts
/Hot Links
- if can? :manage, Shift
  %p.center
    = render 'hot_links', entity: entity
