- provide(:title, 'Shifts')

- if @restaurant
  - caller = 'restaurant'
  %h1 Shifts for #{@restaurant.mini_contact.name}
  - if can? :create, Shift
    %p.center
      = link_to 'See all shifts', shifts_path
      |
      = render 'shifts/create_link', caller: caller

- elsif @rider
  - caller = 'rider'
  %h1 Assignments for #{@rider.account.contact.name}

- else
  - caller = 'default'
  %h1 Shifts
  %p.center
    = render 'shifts/create_link', caller: caller

.row
  .span10.offset1
    = render 'shifts/tables/wrapper', shifts: @shifts, caller: caller

%p.center
  - if caller == 'rider' || caller == 'restaurant'
    = link_to 'See all shifts', shifts_path
  - if can? :create, Shift && caller != 'rider'
    |
    = render 'shifts/create_link', caller: caller
