- provide(:title, "Preview Clone Week")

%h1 Preview Clone Week
.row.profile
  .span8.offset2
    = form_tag '/shift/save_clone_week', method: :post do
      - @restaurant_shifts.arr.each_with_index do |hash, i|
        - restaurant = hash[:restaurant]
        - shifts = hash[:shifts]
        /Restaurant
        %div{ id: "restaurants_#{i}" }
          %h3 
            = "#{restaurant.name}"
            = hidden_field_tag 'restaurant_shifts[][restaurant_id]', restaurant.id
          /Shifts
          - shifts.each_with_index do |shift, j|
            = render 'week_batch_fields', shift: shift, i: i, j: j
      /Week Start
      = hidden_field_tag :week_start, @next_week_start
      /Basepath
      = hidden_field_tag :base_path, @base_path
      /Submit
      = submit_tag 'Submit', class: 'btn btn-primary'