- #input: @restaurant_shifts, @errors, @this_week_start, @next_week_start
- provide(:title, "Preview Clone Week")

%h1 Preview Clone Week
.row.profile
  .span8.offset2
    = form_tag '/shift/save_clone_week', method: :post do
      - @restaurant_shifts.arr.each_with_index do |hash, i|
        - restaurant = hash[:restaurant]
        - shifts = hash[:shifts]
        /Restaurant
        %div{ id: "restaurant_#{i}" }
          /Header
          %h3 
            = "#{restaurant.name}"
          /Errors
          = render 'shared/batch_error_messages', errors: @errors[i], it: 'This section'
          /Restaurant ID
          = hidden_field_tag 'restaurant_shifts[][restaurant_id]', restaurant.id
          /Shifts
          - shifts.each_with_index do |shift, j|
            - if shift.errors.any?
              = render 'clone_week_fields', shift: shift, rest_index: i, shift_index: j, has_errors: true
            - else 
              = render 'clone_week_values', shift: shift, rest_index: i, shift_index: j
        /Add Shift
        .center.add_shift
          %a{ id: "add_shift_restaurant_#{i}", :class => 'btn btn-primary'}
            Add Shift
          - blank_shift = blank_shift_from(restaurant, @next_week_start)  
          = render 'clone_week_js', rest_index: i, init_count: shifts.count, shift: blank_shift
      /Week Start
      = hidden_field_tag :week_start, @next_week_start
      /Basepath
      = hidden_field_tag :base_path, @base_path
      /Submit
      %p.center
        = submit_tag 'Submit', class: 'btn btn-primary'



/ "APPENDING WORKS"

/ "#{ escape_javascript( render :partial => 'clone_week_fields', :locals => { i: 0, j: 15, shift: Shift.first } ) }"