= f.fields_for :contact do |ff|
  = ff.label :name
  = ff.text_field :name
  = ff.label :title
  = ff.text_field :title        
  = ff.label :phone
  = ff.text_field :phone
  = ff.label :email
  = ff.text_field :email
