.row
  - unless caller == :rider
    .span2
      = conflict.rider.contact.name
  .span2
    = conflict.date.strftime("%m/%d")
  .span1
    = conflict.period.text
  .span2
    = link_to 'Edit', paths[:edit].call(conflict)
    |
    = link_to 'Delete', paths[:conflict].call(conflict), method: :delete, data: { confirm: 'Are you sure?' }