.row
  - unless caller == :rider
    .span2
      = conflict.rider.contact.name
  .span2
    = conflict.start.strftime("%m/%d | %I:%M%p")
  .span1
    = conflict.end.strftime("%I:%M%p")
  .span1
    = conflict.period.text
  .span2
    = link_to 'Edit', edit_conflict_path(conflict, root_path: @root_path)
    |
    = link_to 'Delete', conflict_path(conflict, root_path: @root_path), method: :delete, data: { confirm: 'Are you sure?' }