.row
  - unless caller == :rider
    .span2
      = conflict.rider.contact.name
  .span2
    = conflict.date.strftime("%m/%d")
  .span1
    = conflict.period.text
  .span2
    = link_to 'Edit', "conflicts/#{conflict.id}/edit" 
    |
    = link_to 'Delete', "conflicts/#{conflict.id}", method: :delete, data: { confirm: 'Are you sure?' }