- record_type = @teaser ? :conflicts : nil

.row
  - unless @caller == :rider
    .span2
      = link_to conflict.rider.contact.name, conflict.rider
  .span2
    = conflict.start.strftime("%m/%d | %I:%M%p")
  .span1
    = conflict.end.strftime("%I:%M%p")
  .span1
    = conflict.period.text
  / - unless @root_key == :riders || @root_key == :restaurants
  .span2
    = link_to 'Edit', edit_path(conflict, record_type)
    |
    = link_to 'Delete', show_path(conflict, record_type), method: :delete, data: { confirm: 'Are you sure?' }