= form.fields_for :work_arrangement do |ff|
  = ff.label :zone, 'Delivery zone size'
  = ff.text_field :zone
  = ff.label :daytime_volume
  = ff.text_field :daytime_volume
  = ff.label :evening_volume
  = ff.text_field :evening_volume
  .checkbox
    = ff.check_box :extra_work, id: 'extra_work'
    = ff.label :extra_work, "Riders expected to do non-delivery work?", class: 'check_box_label'
  = ff.label :extra_work_description, "If you checked above, please explain:"
  = ff.text_area :extra_work_description



  %h3 Equipment
  %strong With which of the following can you provide riders?
  .checkbox
    = ff.check_box :bike, id: 'bike'
    = ff.label :bike
    = ff.check_box :lock, id: 'lock'
    = ff.label :lock
    = ff.check_box :rack, id: 'rack'
    = ff.label :rack
    = ff.check_box :bag, id: 'bag'
    = ff.label :bag
    = ff.check_box :heated_bag, id: 'heated_bag'
    = ff.label :heated_bag, 'Insulated bag'

