- provide(:title, "Edit Staffer")
%h1 Edit #{@restaurant.name}'s Profile
.row
  .span6.offset3.profile
    = form_for(@restaurant) do |f|
      = render 'shared/error_messages', object: f.object
      %h3 Summary
      = render 'summary_fields', form: f
      %h3 Contact Info
      = render 'shared/contact_info_fields', form: f, object: f.object
      %h3 Managers
      = render '/managers/manager_fields', form: f, object: f.object
      - if params[:action] == 'edit'  
        .center
          = link_to 'Create new manager', new_restaurant_manager_path(@restaurant), class: "btn btn-primary"
      %h3 Working Conditions
      = render 'work_arrangement_fields', form: f
      .center
        = f.submit "Save changes", class: "btn btn-primary"
