- provide(:title, 'Restaurants')
.row
  .span10.offset1
    %h1 Restaurants
    .center
      = link_to 'Create new restaurant', new_restaurant_path
      = will_paginate @restaurants
    %section
      %ul.staff
        = render @restaurants
    .edit
      .center 
        = will_paginate @restaurants
        = link_to 'Create new restaurant', new_restaurant_path, class: 'btn btn-large btn-primary'