- provide(:title, 'Create Restaurant')
%h1 Create Restaurant
.profile
  .row
    .span6.offset3
      = form_for @restaurant do |f|
        = render 'shared/error_messages', object: f.object
        = render 'fields', f: f
        = render 'mini_contacts/fields', f: f
        = render 'locations/fields', f: f
        = render 'managers/fields', object: f.object, f: f
        = render 'rider_payment_infos/fields', f: f
        = render 'work_specifications/fields', f: f
        = render 'equipment_sets/fields', f: f
        = render 'agency_payment_infos/fields', f: f
        %br/
        %br/
        .center
          = f.submit "Create Restaurant", class: "btn btn-large btn-primary" 