- provide(:title, @restaurant.mini_contact.name)
.profile
  = render 'profile_header'
  .row
    .span10.offset1
      = render 'shifts/tables/teaser', shifts: @restaurant.shifts, caller: 'restaurant'
      = render @restaurant.mini_contact
      = render @restaurant.location
      = render @restaurant.managers, managers: @restaurant.managers
      .center
        = link_to 'Create new manager', new_restaurant_manager_path(@restaurant.id) 
      = render @restaurant.rider_payment_info
      - if @restaurant.work_specification
        = render @restaurant.work_specification, restaurant: @restaurant
      - if @restaurant.equipment_set
        = render @restaurant.equipment_set
      - if @restaurant.agency_payment_info
        = render @restaurant.agency_payment_info
  .center
    = link_to 'Edit Profile', edit_restaurant_path(@restaurant), class: 'btn btn-large btn-primary'
      