- provide(:title, @contact.name)
.profile
  = render 'profile_header'
  .row
    .span8.offset2
      = render 'shifts/teaser'
      = render @contact
      = render @managers
      .center
        = link_to 'Create new manager', new_restaurant_manager_path(@restaurant.id) 
      = render @rider_payment
      = render @work_specification
      = render @equipment
      = render @agency_payment
  .center
    = link_to 'Edit Profile', edit_restaurant_path(@restaurant), class: 'btn btn-large btn-primary'
      