- provide(:title, 'Create Staffer')
%h1 Create Staffer
.row
  .span6.offset3
    = form_for(@staffer) do |form|

      = render 'shared/error_messages', object: form.object
      
      = form.fields_for :contact_info do |contact_info_fields|

        = contact_info_fields.label :name
        = contact_info_fields.text_field :name

        = contact_info_fields.label :title
        = contact_info_fields.text_field :title        

        = contact_info_fields.label :email
        = contact_info_fields.text_field :email

        = contact_info_fields.label :phone
        = contact_info_fields.text_field :phone

      = form.submit "Create staffer", class: "btn btn-large btn-primary"      