- provide(:title, @staffer.name)
.profile
  .row
    .span8.offset2
      = gravatar_for @staffer, size: 80
      %section
        %h1.name= @staffer.name
        %h2.title= @staffer.title
  .row
    .span8.offset2
      %h3 Contact Info
      %ul 
        %li Phone: #{@contact_info.phone}
        %li Email: #{@contact_info.email}
      .center
        = link_to 'Edit', edit_staffer_path(@staffer)
        | 
        = link_to "Delete", @staffer, method: :delete, data: { confirm: "Are you sure? All information associated with #{@staffer.name} will be permanently destroyed!" }