- provide(:title, @contact.name)
.profile
  .row
    .span8.offset2
      = gravatar_for @contact, size: 80
      %section
        %h1.name= @contact.name
        %h2.title= @contact.title
  .row
    .span8.offset2
      %h3 Contact Info
      %ul 
        %li Phone: #{@contact.phone}
        %li Email: #{@contact.email}
      .center
        = link_to 'Edit', edit_staffer_path(@staffer)
        | 
        = link_to "Delete", @staffer, method: :delete, data: { confirm: "Are you sure? All information associated with #{@user.name} will be permanently destroyed!" }