- provide(:title, 'Riders')
.row
  .span10.offset1
    %h1 Riders
.row
  .center
    = will_paginate @riders
.row
  .span10.offset1
    = render 'shared/index_search_form', submit_path: riders_path
    %ul.staff
      = render @riders
    .edit 
      .center
        = will_paginate @riders
        = link_to 'Create Rider', new_rider_path
        |
        = link_to 'Home', root_path