- provide(:title, @rider.contact.name)
.profile
  = render 'users/profile_header', it: @it
  .row
    .span10.offset1
      = render 'shifts/tables/teaser', shifts: @rider.shifts.first(5), caller: @caller, paths: @shift_paths
      = render 'conflicts/table/teaser', conflicts: @rider.conflicts.first(5)
      / , caller: @caller, paths: @conflict_paths
      = render @rider.contact
      = render @rider.location
      = render @rider.rider_rating if can? :read, RiderRating
      = render @rider.qualification_set if can? :read, QualificationSet
      = render @rider.skill_set if can? :read, SkillSet
      = render @rider.equipment_set
      
- if can? :manage, Rider
  .row
    %p.center
      = link_to 'Edit Rider Profile', edit_rider_path(@rider)
      |
      = link_to 'See All Riders', riders_path
