- provide(:title, @rider.contact.name)
.profile
  = render 'users/profile_header', it: @it
  .row
    .span10.offset1
      = render 'layouts/teaser', span: "span10", h3: 'Assignments', table: @shift_table, see_more: link_to('See more', index_path(:shifts))
      = render 'layouts/teaser', span: "span6 offset2", h3: 'Conflicts', table: @conflict_table, see_more: link_to('See more', index_path(:conflicts))
      = render @rider.contact
      = render @rider.location
      = render @rider.rider_rating if can? :read, RiderRating
      = render @rider.qualification_set if can? :read, QualificationSet
      = render @rider.skill_set if can? :read, SkillSet
      = render @rider.equipment_set
      
- if can? :manage, Rider
  .row
    %p.center
      = link_to 'Edit Rider Profile', edit_rider_path(@rider)
      |
      = link_to 'See All Riders', riders_path
