= render 'shared/error_messages', object: f.object
- if caller == :rider
  %p
    %strong
      Rider: 
    = @rider.contact.name
  = f.hidden_field :rider_id, value: @rider.id
- else
  = f.label :rider
  = f.collection_select :rider_id, Rider.all, :id, :name, include_blank: true
.datepicker
  = f.label :start
  = f.datetime_select :start, minute_step: 30, ampm: true
  = f.label :end
  = f.datetime_select :end, minute_step: 30, ampm: true