- provide(:title, "Conflicts" )

/Arguments
- case @caller
- when :rider
  - header = "Conflicts for #{@rider.contact.name}"
  - span = "span6 offset3"
  - rider_link = link_to "#{@rider.contact.name}'s profile", rider_path(@rider)
- when nil
  - header = "Conflicts"
  - span = "span8 offset2"
  - rider_link = link_to 'Rider list', riders_path

- create_conflict_link = link_to 'Create conflict', new_path
- hot_links = create_conflict_link + ' | ' + rider_link

/Header
%h1 
  = header

/Hot Links 
%p.center
  = hot_links

/Pagination
.center
  = will_paginate @conflicts

/Table
.row
  %div{ class: span }
    = render 'layouts/table', table: @conflict_table
    / = render 'conflicts/table/wrapper', conflicts: @conflicts

/Pagination
.center
  = will_paginate @conflicts

/Hot Links
%p.center
  = hot_links