- provide(:title, "Conflicts" )

- case @caller
- when :rider
  - header = "Conflicts for #{@rider.contact.name}"
  - wrapper_class = "span6 offset3"
  - rider_link = link_to "#{@rider.contact.name}'s profile", rider_path(@rider)
- when nil
  - header = "Conflicts"
  - wrapper_class = "span8 offset2"
  - rider_link = link_to 'Rider list', riders_path

- create_conflict_link = link_to 'Create conflict', new_path
- head_foot = create_conflict_link + ' | ' + rider_link

%h1 
  = header
%p.center
  = head_foot
.row
  %div{ class: wrapper_class }
    = render 'conflicts/table/wrapper', conflicts: @conflicts
%p.center
  = head_foot