- provide(:title, "Conflicts for #{@rider.name}" )

- #args: @it, @its, @this_week_start, @next_week_start
- m_d = lambda{ |time| time.strftime( "%-m/%-d" ) }
- this_week = m_d.call(@this_week_start) + ' - ' + m_d.call(@this_week_start + 6.days)
- next_week = m_d.call(@next_week_start) + ' - ' + m_d.call(@next_week_start + 6.days)

/Header
%h1
  = "Conflicts for #{@rider.name}"
/Body
.row.profile
  .span6.offset3
    /Batch Review
    %p 
      = "This week (#{this_week}) #{@it} had the following conflicts:"
    = render 'conflicts/review_list'
    / Choice
    %p
      %strong
        = "Click below to indicate if #{@its} conflicts next week (#{next_week}) will be:"
      /Same
      = form_tag "/conflict/batch_clone", method: :post do
        - @conflicts.each do |conflict|
          - attrs = conflict.attributes.slice('rider_id', 'start', 'end')
          - attrs.each do |k,v|
            = hidden_field_tag "conflicts[][#{k}]", v 
        = hidden_field_tag :week_start, @next_week_start
        = hidden_field_tag :rider_id, @rider.id
        = hidden_field_tag :base_path, @base_path    
        %p.center
          = submit_tag 'Same', :class => 'btn btn-primary'
          /Different
          = link_to 'Different', "/conflict/batch_new?#{@new_batch_query}", :class => 'btn btn-primary'