- case credentials
- when 'Staffer'
  - edit_profile = edit_staffer_path(it)
  - edit_account = edit_staffer_account_path(it)
- when 'Rider'
  - edit_profile = edit_rider_path(it)
  - edit_account = edit_rider_account_path(it)
- when 'Manager'
  - edit_profile = edit_restaurant_path(it.restaurant)
  - edit_account = edit_manager_account_path(it)
- when nil
  - raise "nil!"

%li#fat-menu.dropdown
  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
    Account
    %b.caret
  %ul.dropdown-menu
    %li= link_to "Homepage", root_path
    %li= link_to "Edit Profile", edit_profile
    %li= link_to "Change Password", edit_account
    - if credentials == 'Staffer'
      %li= link_to "Staff List", staffers_path 
    %li.divider
    %li= link_to "Sign out", sign_out_path, method: 'delete'