.table
  /Headers
  .row.header
    - table.headers.each_with_index do |header, i|
      %div{ :class => "span#{table.spans[i]}" }
        = sort_if_sortable header
  /Data Rows
  - table.rows.each do |row|
    .row
      /Cells
      - row[:cells].each_with_index do |cell, i|
        %div{ :class => "span#{table.spans[i]}" }
          = link_if_linkable cell
      /Actions
      .span1.action.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          Action
          %b.caret
        %ul.dropdown-menu
          - row[:actions].each do |action|
            / - action_hash = {  }
            %li= link_to action[:val], action[:href], method: action[:method], data: action[:data]