%h3 Account Info
= f.fields_for :account do |ff|
  = ff.label :password
  = ff.password_field :password
  = ff.label :password_confirmation
  = ff.password_field :password_confirmation
  = render 'contacts/fields', f: ff

